In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
data = pd.read_csv("devices.csv")
data0 = pd.read_csv("notifications.csv")
data1 = pd.read_csv("transactions_1.csv")
data2 = pd.read_csv("transactions_2.csv")
data3 = pd.read_csv("transactions_3.csv")
data4 = pd.read_csv("users.csv")

In [8]:
data.head()

   brand user_id
0  Apple  user_0
1  Apple  user_1
2  Apple  user_2
3  Apple  user_3
4  Apple  user_4

In [13]:
data.shape

(15544, 2)

In [21]:
data0.shape

(97704, 5)

In [15]:
data1.shape

(800000, 12)

In [16]:
data2.shape

(700000, 12)

In [17]:
data3.shape

(681026, 12)

In [18]:
data4.shape

(15544, 12)

In [22]:
data.isnull().any()           #βλέπουμε ότι δεν έχει null

reason          False
channel         False
status          False
user_id         False
created_date    False
dtype: bool

In [23]:
data0.isnull().any()

reason          False
channel         False
status          False
user_id         False
created_date    False
dtype: bool

In [25]:
data1.isnull().any()

transaction_id           False
transactions_type        False
transactions_currency    False
amount_usd               False
transactions_state       False
ea_cardholderpresence     True
ea_merchant_mcc           True
ea_merchant_city          True
ea_merchant_country       True
direction                False
user_id                  False
created_date             False
dtype: bool

In [26]:
data1_new=data1.dropna()

In [27]:
data1_new.shape       #σε σύγκριση με το data1 βλέπουμε ότι έχει μειωθεί σε μεγάλο βαθμό το πλήθος των γραμμών

(463420, 12)

In [28]:
data2.isnull().any()

transaction_id           False
transactions_type        False
transactions_currency    False
amount_usd               False
transactions_state       False
ea_cardholderpresence     True
ea_merchant_mcc           True
ea_merchant_city          True
ea_merchant_country       True
direction                False
user_id                  False
created_date             False
dtype: bool

In [29]:
data2_new=data2.dropna()

In [30]:
data2_new.shape         #σε σύγκριση με το data2 βλέπουμε ότι έχει μειωθεί σε μεγάλο βαθμό το πλήθος των γραμμών

(404009, 12)

In [32]:
data3.isnull().any()

transaction_id           False
transactions_type        False
transactions_currency    False
amount_usd               False
transactions_state       False
ea_cardholderpresence     True
ea_merchant_mcc           True
ea_merchant_city          True
ea_merchant_country       True
direction                False
user_id                  False
created_date             False
dtype: bool

In [33]:
data3_new=data3.dropna()

In [34]:
data3_new.shape               #σε σύγκριση με το data3 βλέπουμε ότι έχει μειωθεί σε μεγάλο βαθμό το πλήθος των γραμμών

(380107, 12)

In [36]:
data4.isnull().any()

user_id                                     False
birth_year                                  False
country                                     False
city                                        False
created_date                                False
user_settings_crypto_unlocked               False
plan                                        False
attributes_notifications_marketing_push      True
attributes_notifications_marketing_email     True
num_contacts                                False
num_referrals                               False
num_successful_referrals                    False
dtype: bool

In [37]:
data4_new=data4.dropna()
data4_new.shape                  #σε σύγκριση με το data4 βλέπουμε ότι έχει μειωθεί σε μεγάλο βαθμό το πλήθος των γραμμών

(10284, 12)

In [60]:
data.describe()

          brand     user_id
count     15544       15544
unique        3       15544
top     Android  user_11614
freq       7800           1

In [61]:
data0.describe()

,reason,channel,status,user_id,created_date
count,97704,97704,97704,97704,97704
unique,17,3,2,15156,97701
top,REENGAGEMENT_ACTIVE_FUNDS,EMAIL,SENT,user_10272,2018-03-11 04:17:47.835345
freq,28832,49149,71693,289,2

In [62]:
data1.describe()

         amount_usd  ea_merchant_mcc
count  8.000000e+05    467447.000000
mean   1.301243e+05      5692.255588
std    8.479914e+07       931.669695
min    0.000000e+00       742.000000
25%    2.000000e+00      5411.000000
50%    8.080000e+00      5812.000000
75%    2.816000e+01      5921.000000
max    7.464155e+10      9406.000000

In [63]:
data2.describe()

         amount_usd  ea_merchant_mcc
count  7.000000e+05    406848.000000
mean   8.437071e+04      5706.781319
std    4.543915e+07       941.295430
min    0.000000e+00       742.000000
25%    2.380000e+00      5411.000000
50%    8.540000e+00      5812.000000
75%    3.000000e+01      5921.000000
max    3.600000e+10      9405.000000

In [64]:
data3.describe()

         amount_usd  ea_merchant_mcc
count  6.810260e+05    382756.000000
mean   1.412781e+05      5713.370837
std    7.017186e+07       974.501605
min    0.000000e+00       742.000000
25%    1.940000e+00      5411.000000
50%    8.350000e+00      5812.000000
75%    2.553000e+01      5942.000000
max    5.106387e+10      9406.000000

In [65]:
data4.describe()

,birth_year,user_settings_crypto_unlocked,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
count,15544.000000,15544.000000,10284.000000,10284.000000,15544.000000,15544.0,15544.0
mean,1983.666624,0.182385,0.948269,0.895469,17.874228,0.0,0.0
std,11.369184,0.386174,0.221494,0.305963,47.549929,0.0,0.0
min,1929.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,1977.000000,0.000000,1.000000,1.000000,0.000000,0.0,0.0
50%,1986.000000,0.000000,1.000000,1.000000,5.000000,0.0,0.0
75%,1992.000000,0.000000,1.000000,1.000000,19.000000,0.0,0.0
max,2001.000000,1.000000,1.000000,1.000000,2918.000000,0.0,0.0

In [56]:
#για να δούμε γενικά ποιές στήλες είναι σε περισσότερους από ένα data 

a=[data.keys(),data0.keys(),data1.keys(),data2.keys(),data3.keys(),data4.keys()]
for i in range(len(a)):
    for j in a[i]:
        for k in a[i+1]:
            if j==k:
                print(j)

user_id
user_id
created_date
transaction_id
transactions_type
transactions_currency
amount_usd
transactions_state
ea_cardholderpresence
ea_merchant_mcc
ea_merchant_city
ea_merchant_country
direction
user_id
created_date
transaction_id
transactions_type
transactions_currency
amount_usd
transactions_state
ea_cardholderpresence
ea_merchant_mcc
ea_merchant_city
ea_merchant_country
direction
user_id
created_date
user_id
created_date

IndexError: list index out of range

In [57]:
for i in data.keys():                        #αν για παράδειγμα θέλουμε να βρούμε αν υπάρχει κοινές στήλες μεταξύ 2 data θα δουλέψουμε με αυτόν τον τρόπο
    for j in data0.keys():           
        if i==j:
            print(i)

user_id

In [ ]:
data.describe()