In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:

dev= pd.read_csv('devices.csv')
tr1= pd.read_csv('transactions_1.csv')
tr2= pd.read_csv('transactions_2.csv')
tr3= pd.read_csv('transactions_3.csv')
users = pd.read_csv('users.csv')
notif = pd.read_csv('notifications.csv')
trans= pd.concat([tr1, tr2, tr3])#all transactions in one dataframe

#Regarding users , devices and notifications files

###Notifications table

In [98]:
notif.shape

(97704, 5)

In [99]:
notif.sample(10)

                                reason  ...                created_date
59500                            PROMO  ...  2019-02-26 23:01:20.133770
60980        REENGAGEMENT_ACTIVE_FUNDS  ...  2019-02-13 12:09:14.652413
91368        REENGAGEMENT_ACTIVE_FUNDS  ...  2018-11-28 05:06:52.646381
49845                     BLACK_FRIDAY  ...  2018-11-25 16:47:31.445836
58946        REENGAGEMENT_ACTIVE_FUNDS  ...  2018-11-22 03:27:26.623808
44283  SILVER_ENGAGEMENT_INACTIVE_CARD  ...  2018-11-03 06:07:24.850533
44051  SILVER_ENGAGEMENT_INACTIVE_CARD  ...  2018-10-13 10:55:53.795449
56761                            PROMO  ...  2019-01-24 03:42:24.745563
39787              JOINING_ANNIVERSARY  ...  2019-03-20 01:28:38.726485
4605               NO_INITIAL_CARD_USE  ...  2018-03-21 18:57:50.715275

[10 rows x 5 columns]

In [100]:
notif.isnull().any()

reason          False
channel         False
status          False
user_id         False
created_date    False
dtype: bool

In [101]:
notif['channel'].value_counts(dropna=False)

EMAIL    49149
PUSH     46244
SMS       2311
Name: channel, dtype: int64

In [102]:
notif['reason'].value_counts(dropna=False)

REENGAGEMENT_ACTIVE_FUNDS            28832
PROMO                                18987
NO_INITIAL_CARD_ORDER                 9071
NO_INITIAL_CARD_USE                   9035
INVEST_IN_GOLD                        6649
LOST_CARD_ORDER                       4941
PROMO_CARD_ORDER                      4358
JOINING_ANNIVERSARY                   3334
MADE_MONEY_REQUEST_NOT_SPLIT_BILL     2851
ONBOARDING_TIPS_ACTIVATED_USERS       2423
ENGAGEMENT_SPLIT_BILL_RESTAURANT      1834
BLACK_FRIDAY                          1681
METAL_RESERVE_PLAN                     950
SILVER_ENGAGEMENT_INACTIVE_CARD        896
WELCOME_BACK                           779
BLUE_TUESDAY                           555
SILVER_ENGAGEMENT_FEES_SAVED           528
Name: reason, dtype: int64

In [0]:
notif.channel=notif.channel.astype('category')
notif['notifications_cat']=notif.channel.cat.codes

In [227]:
notif.iloc[1824:,:]

                    reason  ... notifications_cat
1824   NO_INITIAL_CARD_USE  ...                 0
1825   NO_INITIAL_CARD_USE  ...                 0
1826   NO_INITIAL_CARD_USE  ...                 0
1827   NO_INITIAL_CARD_USE  ...                 0
1828   NO_INITIAL_CARD_USE  ...                 0
...                    ...  ...               ...
97699      LOST_CARD_ORDER  ...                 0
97700      LOST_CARD_ORDER  ...                 0
97701      LOST_CARD_ORDER  ...                 0
97702      LOST_CARD_ORDER  ...                 0
97703      LOST_CARD_ORDER  ...                 0

[95880 rows x 6 columns]

In [103]:
notif['status'].value_counts(dropna=False)

SENT      71693
FAILED    26011
Name: status, dtype: int64

In [104]:
notif['user_id'].value_counts(dropna=False)

user_10272    289
user_1326     177
user_7244     129
user_7733      88
user_4066      58
             ...
user_12312      1
user_7665       1
user_4449       1
user_8704       1
user_3932       1
Name: user_id, Length: 15156, dtype: int64

In [105]:
number_of_notif=pd.DataFrame(notif.user_id.value_counts())
number_of_notif.rename(columns={'user_id':'amount_of_notifications'},inplace=True)
number_of_notif.sort_index()

           amount_of_notifications
user_0                           8
user_1                          15
user_10                          8
user_100                         5
user_1000                        1
...                            ...
user_9995                        2
user_9996                        3
user_9997                        8
user_9998                        5
user_9999                        3

[15156 rows x 1 columns]

In [0]:
notif_channels=pd.get_dummies(notif, columns=["channel"])

In [214]:
notif_channels.sample(5)

                          reason  status  ... channel_PUSH channel_SMS
1824         NO_INITIAL_CARD_USE  FAILED  ...            0           0
74536                      PROMO    SENT  ...            1           0
53857        NO_INITIAL_CARD_USE    SENT  ...            0           0
4457         NO_INITIAL_CARD_USE  FAILED  ...            0           0
20979  REENGAGEMENT_ACTIVE_FUNDS    SENT  ...            0           1

[5 rows x 8 columns]

In [0]:
notif_channels_cat =pd.crosstab(index=notif_channels.user_id, columns=notif_channels.notifications_cat)

In [231]:
notif_channels_cat.rename(columns={'0':'email','1':'push','2':'sms'},inplace=True)#na 3anagrapsw ton kwdika gia to notifications_cat
notif_channels_cat.sample(5)

notifications_cat  0  1  2
user_id
user_4906          3  5  0
user_9463          1  1  0
user_3262          1  1  0
user_55            1  2  0
user_7280          4  3  0

##Users table

In [107]:
users.sample(5)

          user_id  birth_year  ... num_referrals num_successful_referrals
6503    user_6503        1973  ...             0                        0
6018    user_6018        1985  ...             0                        0
11378  user_11378        1952  ...             0                        0
10641  user_10641        1993  ...             0                        0
7839    user_7839        1957  ...             0                        0

[5 rows x 12 columns]

In [108]:
users.user_id.value_counts()

user_9811     1
user_6637     1
user_7627     1
user_3384     1
user_4076     1
             ..
user_4200     1
user_3022     1
user_7616     1
user_8310     1
user_13082    1
Name: user_id, Length: 15544, dtype: int64

In [109]:
number_of_users_per_country=pd.DataFrame(users.country.value_counts())
number_of_users_per_country.rename(columns={'country':'users per country'},inplace=True)
number_of_users_per_country.sort_index()

    users per country
AT                 68
AU                  4
BE                113
BG                 78
CH                350
CY                154
CZ                287
DE                358
DK                 77
EE                 30
ES                784
FI                 32
FR               1696
GB               5018
GG                 14
GI                 35
GP                  9
GR                182
HR                 49
HU                125
IE                995
IM                  7
IS                  6
IT                241
JE                 45
LI                  4
LT                541
LU                 21
LV                133
MQ                  3
MT                437
NL                132
NO                 75
PL               1834
PT                487
RE                  7
RO                873
SE                104
SI                 71
SK                 65

In [110]:
#check for missing values, dev, users , notifications; devices 
users.loc[:,users.isnull().any()]# nun mono se aytes tis sthles

       attributes_notifications_marketing_push  attributes_notifications_marketing_email
0                                          1.0                                       1.0
1                                          NaN                                       NaN
2                                          NaN                                       NaN
3                                          NaN                                       NaN
4                                          NaN                                       NaN
...                                        ...                                       ...
15539                                      1.0                                       1.0
15540                                      NaN                                       NaN
15541                                      1.0                                       1.0
15542                                      1.0                                       1.0
15543                                      1.0                                       1.0

[15544 rows x 2 columns]

In [111]:
users.attributes_notifications_marketing_push.value_counts(dropna=False)

1.0    9752
NaN    5260
0.0     532
Name: attributes_notifications_marketing_push, dtype: int64

In [112]:
users.attributes_notifications_marketing_email.value_counts(dropna=False)

1.0    9209
NaN    5260
0.0    1075
Name: attributes_notifications_marketing_email, dtype: int64

In [0]:
#users[(users.attributes_notifications_marketing_push==0.0 )&( users.attributes_notifications_marketing_email==0.0)]

In [0]:
#users_filled=users.fillna(value=0.0)#should be filled with zeros as were mistakes

In [0]:
#users_filled.sample(10)

In [0]:
#np.sum(users_filled['num_referrals'])
#np.sum(users_filled['num_successful_referrals'])
#may should be deleted since both contain only 0s

##Devices table

In [234]:
dev.shape

(15544, 2)

In [117]:
dev['brand'].value_counts()#σε περιπτωση encoding μπορουμε να διωξουμε τα unknown

Android    7800
Apple      7712
Unknown      32
Name: brand, dtype: int64

In [0]:
users_brands=users.copy()

In [233]:
#egine add h sthlh brand apo ton  pinaka devices
users_brands['brands']=dev.brand
users_brands.sample(5)

          user_id  birth_year  ... num_successful_referrals   brands
6974    user_6974        1959  ...                        0  Android
4186    user_4186        1974  ...                        0  Android
15352  user_15352        1976  ...                        0  Android
6337    user_6337        1985  ...                        0    Apple
15516  user_15516        1978  ...                        0  Android

[5 rows x 13 columns]

Ο πινακας με τα devices ενσωματωθηκε στον πινακα των users,
στον users τα nan στις στηλες attributes αντικατασταθηκαν με 0(σαν true false encoding) και τελος οι στηλες με τα referalls εγιναν drop μιας και εχουν μονο μηδενικα στοιχεια

#Regarding transactions tables

In [0]:
#trans.sample(5)

In [121]:
usd_per_user = pd.pivot_table(data=trans,aggfunc='mean', index='user_id',  values='amount_usd')

usd_per_user.sample()

            amount_usd
user_id
user_11895    11.03375

In [0]:
users_with_usd=pd.merge(users , usd_per_user, how='left', left_on='user_id', right_index=True)

In [0]:
#uus = pd.pivot_table(data=trans, aggfunc='mean', index='user_id', columns='transactions_type', values='amount_usd')
#πινακας ανα user, transaction types και values(mean)

In [124]:
trans.isnull().any()#nan περιεχουν οι στηλες ea_

transaction_id           False
transactions_type        False
transactions_currency    False
amount_usd               False
transactions_state       False
ea_cardholderpresence     True
ea_merchant_mcc           True
ea_merchant_city          True
ea_merchant_country       True
direction                False
user_id                  False
created_date             False
dtype: bool

In [0]:
#trans['amount_usd'].value_counts(dropna=False)

In [0]:
#trans['ea_merchant_mcc'].value_counts(dropna=False)

In [0]:
#trans['ea_merchant_city'].value_counts(dropna=False)#exei wrong values, νουμερα, links etc

In [128]:
trans['ea_cardholderpresence'].value_counts(dropna=False)

FALSE      1012235
NaN         933206
TRUE        231311
UNKNOWN       4274
Name: ea_cardholderpresence, dtype: int64

In [0]:
#trans['transactions_type'].value_counts(dropna=False)

In [0]:
#trans['transactions_currency'].value_counts(dropna=False)

In [0]:
#trans['transactions_state'].value_counts()

In [0]:
#trans['amount_usd'].describe()

#Table of amount of transactions per user

In [235]:
trans.sample(5)

             transaction_id  ...                created_date
201082   transaction_201082  ...  2018-07-03 15:31:43.602800
398947   transaction_398947  ...  2019-02-20 21:06:51.665206
562314  transaction_1362314  ...  2019-03-18 08:19:06.801876
653722   transaction_653722  ...  2019-01-04 08:31:21.447025
140013  transaction_1640013  ...  2018-10-23 11:06:05.937618

[5 rows x 12 columns]

In [133]:
number_of_trans=pd.DataFrame(trans.user_id.value_counts())
number_of_trans.rename(columns={'user_id':'amount_of_transactions'},inplace=True)
number_of_trans.sort_index()

           amount_of_transactions
user_0                        545
user_1                        146
user_10                       143
user_100                       66
user_1000                      47
...                           ...
user_9995                       8
user_9996                      37
user_9997                     146
user_9998                      36
user_9999                      10

[15012 rows x 1 columns]

In [0]:
users_with_amount_of_trans=pd.merge(users_with_usd , number_of_trans, how='left', left_on='user_id', right_index=True)

In [236]:
users_with_amount_of_trans.sample(5)

          user_id  birth_year  ...  amount_usd amount_of_transactions
14758  user_14758        1992  ...   69.472500                   48.0
8527    user_8527        1948  ...  205.762877                   73.0
11165  user_11165        1983  ...    9.831364                  242.0
13066  user_13066        2000  ...    5.500000                    2.0
82        user_82        1988  ...   83.183210                   81.0

[5 rows x 14 columns]

In [238]:
users_with_amount_of_trans.country.value_counts()

GB    5018
PL    1834
FR    1696
IE     995
RO     873
ES     784
LT     541
PT     487
MT     437
DE     358
CH     350
CZ     287
IT     241
GR     182
CY     154
LV     133
NL     132
HU     125
BE     113
SE     104
BG      78
DK      77
NO      75
SI      71
AT      68
SK      65
HR      49
JE      45
GI      35
FI      32
EE      30
LU      21
GG      14
GP       9
IM       7
RE       7
IS       6
AU       4
LI       4
MQ       3
Name: country, dtype: int64

In [135]:
users_with_amount_of_trans.isnull().any()

user_id                                     False
birth_year                                  False
country                                     False
city                                        False
created_date                                False
user_settings_crypto_unlocked               False
plan                                        False
attributes_notifications_marketing_push      True
attributes_notifications_marketing_email     True
num_contacts                                False
num_referrals                               False
num_successful_referrals                    False
amount_usd                                   True
amount_of_transactions                       True
dtype: bool

In [137]:
users_with_amount_of_trans['amount_of_transactions'].count()

15012

In [0]:
len(users_with_amount_of)

Δεν εχουν ολοι οι users transactions, αρα μια μετρικη για το ποσο engaged ειναι θα μπορουσε να ειναι μια ποσοτητα transactions, οπως επισης και μια τιμη transactions

#Regarding standard and paid plan features

## plan column is groupped in "standard" and "paid"/encoded

In [0]:
uss4=users.copy()

In [0]:
uss4.plan=uss4.plan.apply(lambda x: 'PAID' if x!="STANDARD" else x)

In [141]:
uss4.plan.value_counts(dropna=False)

STANDARD    14394
PAID         1150
Name: plan, dtype: int64

In [154]:
uss4.plan = np.where(uss4.plan=="PAID", 1,0)
uss4.sample(5)

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

          user_id  birth_year  ... num_referrals num_successful_referrals
14038  user_14038        1992  ...             0                        0
10860  user_10860        1995  ...             0                        0
382      user_382        1988  ...             0                        0
1105    user_1105        1991  ...             0                        0
1387    user_1387        1991  ...             0                        0

[5 rows x 12 columns]

##grouping aging categories by birthdate/encoded

In [0]:
uss5=uss4.copy()

In [0]:
uss5['age']=2020 - uss5['birth_year']

In [157]:
uss5.age.describe()

count    15544.000000
mean        36.333376
std         11.369184
min         19.000000
25%         28.000000
50%         34.000000
75%         43.000000
max         91.000000
Name: age, dtype: float64

In [158]:
uss5['age_categories']= uss5.age.apply(lambda x: '18-29' if x<30  else ('30-39' if x<40  else '40+'))
pd.value_counts(uss5['age_categories'])

30-39    5602
18-29    5044
40+      4898
Name: age_categories, dtype: int64

In [169]:
uss5.sample(5)

          user_id  birth_year  ... age age_categories
3354    user_3354        1961  ...  59            40+
13015  user_13015        1984  ...  36          30-39
2087    user_2087        1977  ...  43            40+
13343  user_13343        1995  ...  25          18-29
5864    user_5864        1985  ...  35          30-39

[5 rows x 14 columns]

In [0]:
uss5.age_categories=uss5.age_categories.astype('category')

In [174]:
uss5['ages_cat'] = uss5.age_categories.cat.codes
uss5.sample(5)

          user_id  birth_year country  ... age age_categories  ages_cat
4446    user_4446        1986      ES  ...  34          30-39         1
8824    user_8824        1973      GB  ...  47            40+         2
4102    user_4102        1978      FR  ...  42            40+         2
11819  user_11819        1995      GB  ...  25          18-29         0
13717  user_13717        1991      LV  ...  29          18-29         0

[5 rows x 15 columns]

##notifications and users tables

In [0]:
uss10=uss5.copy()

In [203]:
uss11=pd.merge(uss10, number_of_notif, how='left', left_on='user_id', right_index=True)
uss11.amount_of_notifications.value_counts(dropna=False

3.0      2027
4.0      1829
5.0      1711
6.0      1651
7.0      1597
8.0      1255
2.0      1038
9.0       950
10.0      699
11.0      574
1.0       544
NaN       388
12.0      371
13.0      261
14.0      176
15.0      128
16.0       82
17.0       62
18.0       37
19.0       31
22.0       19
20.0       17
21.0       11
26.0        9
24.0        8
28.0        8
23.0        6
27.0        5
25.0        5
37.0        5
32.0        4
29.0        4
51.0        3
33.0        3
40.0        3
49.0        2
35.0        2
43.0        2
30.0        2
36.0        2
52.0        1
38.0        1
39.0        1
88.0        1
129.0       1
41.0        1
177.0       1
42.0        1
31.0        1
58.0        1
48.0        1
289.0       1
47.0        1
Name: amount_of_notifications, dtype: int64

In [0]:
uss11.amount_of_notifications.fillna(value=0,inplace=True)

In [205]:
uss11.amount_of_notifications.describe()

count    15544.000000
mean         6.285641
std          4.999748
min          0.000000
25%          3.000000
50%          6.000000
75%          8.000000
max        289.000000
Name: amount_of_notifications, dtype: float64

In [191]:
uuss5withnull=uss5[uss5.isnull().any(axis=1)]
uuss5withnull.sample(5)

          user_id  birth_year  ... ages_cat amount_of_notifications
13931  user_13931        1991  ...        0                     2.0
8431    user_8431        1999  ...        0                    10.0
704      user_704        1969  ...        2                     8.0
6943    user_6943        1967  ...        2                    11.0
5801    user_5801        1986  ...        1                     4.0

[5 rows x 16 columns]

In [181]:


uss5withnull.plan.value_counts()

0    5260
Name: plan, dtype: int64

In [184]:
uss5standard=uss5[uss5['plan']==0]
uss5standard.attributes_notifications_marketing_push.value_counts(dropna=False)

1.0    9752
NaN    5260
0.0     532
Name: attributes_notifications_marketing_push, dtype: int64

##Vizualisation

In [0]:
uss6=pd.merge(uss5 , number_of_trans, how='left', left_on='user_id', right_index=True)
uss6['brands']=dev.brand
uss6.head(5)

In [0]:
sns.barplot(x='plan', y='amount_of_transactions', hue='age_categories' ,data=uss6 )
#standard kai paid users

In [0]:
uss7 = pd.merge(uss6 , usd_per_user, how='left', left_on='user_id', right_index=True)
#users table με mean amount_usd, amount of transactions, categorized by age, age calculated, plan=standard or paid

In [0]:
from __future__ import print_function
from sklearn import datasets
breast_cancer=datasets.load_breast_cancer()
print(breast_cancer.keys())

In [0]:
breast_cancer['feature_names'].shape

In [0]:
trans.sample(5)

In [0]:
print(trans.keys())

In [0]:
inbounds=trans[trans.direction == 'INBOUND']
inbounds.sample(5)

In [0]:
inbounds.ea_merchant_mcc.value_counts(dropna=False)

In [0]:
trans.ea_cardholderpresence.value_counts(dropna=False)

In [0]:
# encode categorical variable with custom m 
# another way this could be done would be through data.education.astype('category # this however would prevent us from choosing the mapping scheme
uss7.sample(5)